[Unit]
Description=DDE application manager service
RefuseManualStart=no
RefuseManualStop=no
#OnFailure=dde-session-shutdown.target
OnFailureJobMode=replace-irreversibly
CollectMode=inactive-or-failed
StartLimitIntervalSec=10s
StartLimitBurst=30

Requisite=dde-session-manager.target
After=dde-session-manager.target

Requisite=dde-display.target
After=dde-display.target

BindsTo=dde-session-daemon.service
Before=dde-session-daemon.service

[Service]
Type=simple
ExecStart=/usr/bin/dde-application-manager
TimeoutStartSec=infinity
Slice=components.slice
Restart=on-failure
RestartSec=300ms
