[Unit]
Description=DDE Application Manager service
RefuseManualStart=no
RefuseManualStop=no
OnFailureJobMode=replace-irreversibly
CollectMode=inactive-or-failed
StartLimitIntervalSec=10s
StartLimitBurst=30

[Service]
Type=dbus
BusName=org.deepin.dde.Application1.Manager
ExecStart=/usr/bin/dde-application-manager
Slice=app.slice
Restart=on-failure
RestartSec=300ms
