[Unit]
Description=DDE Application Manager service

[Service]
Type=DBus
BusName=org.deepin.dde.Application1.Manager
ExecStart=/usr/bin/dde-application-manager
Slice=services.slice