[Unit]
Description=Deepin Application Manager service

[Service]
Type=DBus
BusName=org.desktopspec.ApplicationManager
ExecStart=/usr/bin/deepin-application-manager
Slice=services.slice