build*
.vscode
/debian/.debhelper
/debian/dde-application-manager
/debian/dde-application-manager.substvars
/debian/dde-application-manager.debhelper.log
/debian/debhelper-build-stamp
/debian/files
/obj-x86_64-linux-gnu
*.user