build*
.vscode
/debian/.debhelper
/debian/dde-application-manager-reborn
/debian/dde-application-manager-reborn.substvars
/debian/dde-application-manager-reborn.debhelper.log
/debian/debhelper-build-stamp
/debian/files
/obj-x86_64-linux-gnu
