Source: dde-application-manager
Section: devel
Priority: optional
Maintainer: Chen Linxuan <chenlinxuan@uniontech.com>
Build-Depends:
Standards-Version: 4.1.3
Homepage: https://github.com/linuxdeepin/dde-application-manager
Package: dde-application-manager-reborn
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description:  dde application manager module
 Application manager for DDE.

